<link rel="stylesheet" href="./css/account.css" />
<div class="account_wrap">
    <div class="show_detail">
        <div class="top">
            <div class="profile_photo"></div>
            <div class="edit"></div>
        </div>
        <div class="bottom">
            <div class="detail username">
                <i class="icon"></i>
                name
            </div>
            <div class="detail name">
                <i class="icon"></i>
                name
            </div>
            <div class="detail mobile">
                <i class="icon"></i>
                mobile
            </div>
            <div class="detail email">
                <i class="icon"></i>
                email
            </div>
        </div>
    </div>
    <div class="edit_details">
        <div class="top">
            <span class="cancel">Cancel</span>
            <div class="profile_photo"></div>
        </div>
        <div class="bottom">
            <div class="detail username">
                <i class="icon"></i>
                name
            </div>
            <div class="detail name">
                <i class="icon"></i>
                name
            </div>
            <div class="detail mobile">
                <i class="icon"></i>
                mobile
            </div>
            <div class="detail email">
                <i class="icon"></i>
                email
            </div>
        </div>
    </div>
</div>
