<div class="wrap">
    <video id="video"></video>
</div>
<div class="menu_wrap">
    <div class="header"></div>
    <div class="menu_body"></div>
    <div class="add_items"></div>
</div>
<div class="cartdiv">
    <div class="cart_header">
        <div class="cart_items"></div>
        |
        <div class="totalprice"></div>
        <button class="viewCart">View Cart</button>
    </div>
    <div class="cart_body"></div>
    <div class="cart_footer">
        <button class="place_order">
            Place Order
        </button>
    </div>
</div>
