<div class="signin">
    <div class="wrap">
        <form>
            <span class="title">Log In</span>
            <input
                type="text"
                class="username inp"
                placeholder="Username or email or mobile"
            />
            <input
                type="password"
                class="password inp"
                placeholder="Password"
            />
            <a href="#signup">Sign Up</a>
            <div class="button login_submit">Login</div>
        </form>
    </div>
</div>
