@font-face {
  font-family: pikkngo;
  src: url("../../assets/fonts/primary.woff2");
}

@font-face {
  font-family: pikkngo_medium;
  src: url("../../assets/fonts/primary_medium.woff2");
}

@font-face {
  font-family: pikkngo_bold;
  src: url("../../assets/fonts/primary_bold.woff2");
}

.header {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 50px;
  position: fixed;
  font-family: pikkngo;
}

.footer {
  font-family: pikkngo;
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: -1px 3px 6px 0px #656565;
          box-shadow: -1px 3px 6px 0px #656565;
  background-color: white;
}

.footer .tab {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrap {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: calc(100% - 50px);
}

.wrap video {
  position: absolute;
  width: 100%;
  height: 100%;
}

.loading {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 4;
}

.menu_wrap {
  display: block;
  position: fixed;
  overflow-x: scroll;
  z-index: 5;
  background-color: #f3f3f3;
  top: 100%;
  left: 0px;
  width: 100%;
  height: 100%;
  -webkit-animation: menu_wrap_animation 500ms forwards;
          animation: menu_wrap_animation 500ms forwards;
}

@-webkit-keyframes menu_wrap_animation {
  from {
    top: 100%;
    left: 0px;
  }
  to {
    top: 0px;
    left: 0px;
  }
}

@keyframes menu_wrap_animation {
  from {
    top: 100%;
    left: 0px;
  }
  to {
    top: 0px;
    left: 0px;
  }
}

.menu_wrap .header {
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 200px;
  background-image: url(../../assets/images/Store_vector-01.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 800;
  color: white;
  font-size: 21px;
  font-family: pikkngo_medium;
}

.menu_wrap .header .store_name {
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: black;
}

.menu_wrap .menu_body {
  position: relative;
  padding: 10px;
}

.menu_wrap .menu_body .item_card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: white;
  margin-bottom: 10px;
  border-radius: 4px;
  overflow: hidden;
}

.menu_wrap .menu_body .item_card .item_icon {
  position: relative;
  width: 100px;
  background-image: url(../../assets/images/27fcd2e1b2697d5fe6fe341090634aa8.png);
  background-position: center;
  background-size: 70px;
  background-repeat: no-repeat;
}

.menu_wrap .menu_body .item_card .details_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
}

.menu_wrap .menu_body .item_card .details_wrap .item_title {
  font-family: pikkngo_medium;
}

.menu_wrap .menu_body .item_card .details_wrap .item_description {
  font-family: pikkngo;
  margin-top: 5px;
  margin-bottom: 5px;
  color: rgba(0, 0, 0, 0.5);
}

.menu_wrap .menu_body .item_card .details_wrap .sdsdsdsd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu_wrap .menu_body .item_card .details_wrap .sdsdsdsd .item_price {
  font-family: pikkngo;
  color: rgba(0, 0, 0, 0.7);
}

.menu_wrap .menu_body .item_card .details_wrap .sdsdsdsd .wrap_item_quantity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 10px;
  margin-left: 10px;
  border: 1px solid #e9e9eb;
}

.menu_wrap .menu_body .item_card .details_wrap .sdsdsdsd .wrap_item_quantity .q {
  height: 25px;
  width: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: pikkngo;
  font-size: 13px;
  align-items: center;
}

.menu_wrap .menu_body .item_card .details_wrap .sdsdsdsd .wrap_item_quantity .q:last-child {
  color: #60b246;
}

.menu_wrap .menu_body .item_card .details_wrap .sdsdsdsd .wrap_item_quantity .q:active {
  color: #d0d0d0;
}

.menu_wrap .menu_body .item_card .details_wrap .sdsdsdsd .item_add {
  background-color: #60b246;
  width: 70px;
  height: 25px;
  color: white;
  border-radius: 5px;
  border: none;
  outline: none;
}

.menu_wrap .menu_body .item_card .details_wrap .sdsdsdsd .item_add:active {
  color: #60b246;
  background-color: white;
}

.show_cart {
  display: block !important;
  -webkit-animation: show_cart_to 400ms forwards;
          animation: show_cart_to 400ms forwards;
}

@-webkit-keyframes show_cart_to {
  from {
    top: 100%;
  }
  to {
    top: calc(100% - 50px);
  }
}

@keyframes show_cart_to {
  from {
    top: 100%;
  }
  to {
    top: calc(100% - 50px);
  }
}

.hide_cart {
  -webkit-animation: hide_cart_to 400ms forwards;
          animation: hide_cart_to 400ms forwards;
}

@-webkit-keyframes hide_cart_to {
  to {
    top: 100%;
  }
}

@keyframes hide_cart_to {
  to {
    top: 100%;
  }
}

.view_cart {
  -webkit-animation: view_cart 400ms forwards;
          animation: view_cart 400ms forwards;
}

@-webkit-keyframes view_cart {
  from {
    top: calc(100% - 50px);
  }
  to {
    top: 0px;
  }
}

@keyframes view_cart {
  from {
    top: calc(100% - 50px);
  }
  to {
    top: 0px;
  }
}

.hide_view_cart {
  -webkit-animation: hide_view_cart 400ms forwards;
          animation: hide_view_cart 400ms forwards;
}

@-webkit-keyframes hide_view_cart {
  from {
    top: 0px;
  }
  to {
    top: calc(100% - 50px);
  }
}

@keyframes hide_view_cart {
  from {
    top: 0px;
  }
  to {
    top: calc(100% - 50px);
  }
}

.cartdiv {
  display: none;
  position: fixed;
  left: 0px;
  background: white;
  height: 100%;
  width: 100%;
  z-index: 5;
}

.cartdiv .cart_header {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 50px;
  background: #60b246;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: pikkngo_medium;
  color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 15px;
}

.cartdiv .cart_header .cart_items {
  margin-left: 20px;
  margin-right: 10px;
}

.cartdiv .cart_header .totalprice {
  margin-left: 10px;
}

.cartdiv .cart_header .viewCart {
  margin-left: auto;
  margin-right: 20px;
  height: 30px;
  font-family: pikkngo_medium;
  font-size: 15px;
  color: white;
  background: transparent;
  border: none;
  outline: none;
}

.cartdiv .cart_body {
  position: absolute;
  top: 50px;
  left: 0px;
  height: calc(100% - 100px);
  width: 100%;
  overflow-y: scroll;
}

.cartdiv .cart_footer {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 50px;
  background: white;
  -webkit-box-shadow: 0px 4px 6px 1px rgba(32, 33, 36, 0.78);
          box-shadow: 0px 4px 6px 1px rgba(32, 33, 36, 0.78);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cartdiv .cart_footer .place_order {
  width: 80%;
  height: 30px;
  color: white;
  background-color: #60b246;
  border: none;
  border-radius: 5px;
  font-family: pikkngo_medium;
  font-size: 15px;
  outline: none;
}

.cartdiv .cart_footer .place_order:active {
  color: #60b246;
  background-color: white;
}

.order_card {
  position: relative;
  background: #ebebeb;
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.order_card .cardHeader {
  position: relative;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 10px;
  background-color: red;
}

.order_card .bottomHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
}

.order_card .bottomHeader .expand {
  position: relative;
  margin-left: auto;
}
/*# sourceMappingURL=style.css.map */