<div class="first">
    <div class="wrap1">
        <div class="top" ifd="top">
            <div class="image"></div>
            <div class="dots">
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
            </div>
        </div>
        <div class="bottom">
            <div class="details">
                <div class="tagline_title">
                    Title
                </div>
                <div class="discription">
                    this is an example discruption, jsdk sjdsd jsd sdj
                </div>
            </div>
            <div class="login_div">
                <a href="#signup" class="button set_location_btn">
                    Sign Up
                </a>
                <div class="login">
                    <span class="text">
                        Already have an account?
                        <a href="#login">Login</a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
