<div class="signup">
    <div class="wrap">
        <form>
            <span class="title">Sign Up</span>
            <input type="text" class="firstname inp" placeholder="First Name" />
            <input type="text" class="lastname inp" placeholder="Last Name" />
            <input type="text" class="username inp" placeholder="Username" />
            <input type="text" class="email inp" placeholder="Email" />
            <input type="text" class="mobile inp" placeholder="Mobile Number" />
            <input
                type="password"
                class="password inp"
                placeholder="Password"
                autocomplete="current-password"
            />
            <a href="#login">Login</a>
            <div class="button next" id="next">Next</div>
        </form>
    </div>

    <!-- otp -->
    <div class="otp">
        <div class="otp_div">
            <span class="title">Enter OTP</span>
            <input type="number" class="inp code" />
            <button class="resend_code" disabled>Resend Code</button>
            <div class="button signup_submit">Submit</div>
        </div>
    </div>
</div>
